<div class="container">
    <div class="stat">
        <div class="icon">
            <img src="https://i.shgcdn.com/63aee570-ba26-4184-9edf-72016bdd8553/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                alt="">
        </div>
        <h1 class="text">120,000 Customers</h1>
    </div>
    <div class="stat">
        <div class="icon">
            <img src="https://i.shgcdn.com/8358e142-f955-410f-ae8b-05d49fede8da/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                alt="">
        </div>
        <h1 class="text">150,000 Orders</h1>
    </div>
    <div class="stat">
        <div class="icon">
            <img src="https://i.shgcdn.com/e6a08b2d-3ed4-4c7b-9f6a-a1ff9dd297ff/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                alt="">
        </div>
        <h1 class="text">5,000 five star reviews</h1>
    </div>
</div>