@use "../ulti/varibles" as var;

.cart__container {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.cart--active.cart__container {
    display: block;
}

.cart--active > .cart__overlay {
    opacity: 1;
}

.cart--active > .cart__menu {
    right: 0px;
}

.cart__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.cart__menu {
    position: absolute;
    right: -400px;
    top: 0px;
    height: 100%;
    width: 400px;
    background-color: var.$white2;
    transition: right 0.2s linear;
}

.cart__header {
    display: flex;
    border-bottom: 1px solid var.$border-color;
    padding: 20px 0px;
    margin: 0px 20px;
    justify-content: space-between;
}
.cart__exit {
    height: 22px;
    cursor: pointer;
    width: 50px;
}
.cart__info {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.cart__counter {
    content: "0";
}
.cart__content {
    padding: 32px 0px 0px;
    height: 90%;
}

//cart empty
.cart-empty__container {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cart-empty__container.cart--active {
    display: flex;
}
.cart-empty__ms {
    font-family: var.$title-font;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}
.cart-empty__btn {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var.$default-background;
    color: var.$white2;
    padding: 15px 115px;
    cursor: pointer;
}

//cart not empty
.cart-items__container {
    // margin-right: 20px;
    padding-left: 20px;
    display: none;
    flex-direction: column;
}
.cart-items__container.cart--active {
    display: flex;
    height: 100%;
}

.cart-items__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: auto;
}
.cart__item {
    position: relative;
    display: flex;
    margin-bottom: 26px;
    margin-right: 20px;
}

.cart__item + .cart__item {
    padding-top: 20px;
    border-top: 1px solid var.$border-color;
}

.cart__item-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 40px;
    justify-content: space-between;
}
.cart__item-pic {
    min-width: 90px;
    min-height: 90px;
    background-color: red;
    background-position: center;
    background-size: contain;
}
.cart__item-name {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    max-width: 100%;
}

//CART CHANG SIZE RADIO BUTTONS
.cart__item-size-box {
    display: flex;
    width: calc((100% / 3) * 2);
    justify-content: space-between;
}

.cart__item-size-option:checked,
.cart__item-size-option:not(:checked) {
    display: none;
}

.cart__item-size-option:checked + label,
.cart__item-size-option:not(:checked) + label {
    content: "";
    padding: 2px 6px 4px;
    color: var.$dark;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin-right: 6px;
}

.cart__item-size-option + label:hover {
    opacity: 0.5;
}

.cart__item-size-option:checked + label {
    background-color: var.$dark;
    color: var.$white;
    pointer-events: none;
}

// .cart__item-size-option.size-option--selected {
//     background-color: var.$dark;
//     color: var.$white;
//     pointer-events: none;
// }

.cart__item-remove {
    position: absolute;

    right: 0px;
    padding: 0px 8px;
    color: var.$dark;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s linear;
}

.cart__item-remove:hover {
    opacity: 0.5;
}

.cart__item-quantity-box {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: fit-content;
}
.cart__item-quantity-btn {
    height: 30px;
    width: 30px;
    background-color: var.$dark;
    color: var.$white;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5rem;
    cursor: pointer;
}

.cart__item-quantity-display {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 80px;
    text-align: center;
    line-height: 2rem;
    -moz-appearance: textfield;
}

.cart__item-quantity-display:focus {
    outline: none;
    border-bottom: 1px solid var.$border-color;
}

.cart__item-price {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 1.1rem;
    font-weight: 500;
}
.cart__total {
    border-top: 1px solid var.$dark;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 20px;
    margin-right: 20px;
}

.cart-checkout__btn {
    margin-right: 20px;
    font-size: 1.3rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var.$default-background;
    color: var.$white2;
    padding: 15px 115px;
    cursor: pointer;
}
