@use "../ulti/varibles" as var;
.categories__container {
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: yellow;
    padding: 24px 0px;
    background-color: var.$default-background;
    color: var.$white;
}

.categories__list {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.category {
    height: auto;
    width: auto;
    :hover {
        color: var.$orange;
    }
}

.category__pic {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.category-DUFFLES .category__pic {
    background-image: url(/src/assets/img/catergory-1.webp);
}
.category-DUFFLES .category__pic:hover {
    background-image: url(/src/assets/img/catergory-1-alt.webp);
}

.category-MESSENGERS .category__pic {
    background-image: url(/src/assets/img/catergory-2.webp);
}
.category-MESSENGERS .category__pic:hover {
    background-image: url(/src/assets/img/catergory-2-alt.webp);
}

.category-BRIEFCASES .category__pic {
    background-image: url(/src/assets/img/catergory-3.webp);
}
.category-BRIEFCASES .category__pic:hover {
    background-image: url(/src/assets/img/catergory-3-alt.webp);
}

.category-BACKPACKS .category__pic {
    background-image: url(/src/assets/img/catergory-4.webp);
}
.category-BACKPACKS .category__pic:hover {
    background-image: url(/src/assets/img/catergory-4-alt.webp);
}

.category-WALLETS .category__pic {
    background-image: url(/src/assets/img/catergory-5.webp);
}
.category-WALLETS .category__pic:hover {
    background-image: url(/src/assets/img/catergory-5-alt.webp);
}

.category-JACKETS .category__pic {
    background-image: url(/src/assets/img/catergory-6.webp);
}
.category-JACKETS .category__pic:hover {
    background-image: url(/src/assets/img/catergory-6-alt.webp);
}

.category__name {
    padding: 10px 0px;
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.2s;
}
