@use "../ulti/varibles" as var;

.main-content {
    background-color: var.$white;
}

.content-wrapper {
}

.double-section__container {
    background-color: var.$default-background;
    color: var.$white;
}
