<div class="dropdownn-section" [ngClass]="{'dropdown--active': activeMenu == 0 }">
    <ul class="list">
        <li class="title"><a href="#">SHOP ALL</a></li>
        <li class="item item--top item--new"><a href="#">NEW</a></li>
        <li class="item"><a href="#">Best Sellers</a></li>
        <li class="item"><a href="#">Leather Jackets</a></li>
        <li class="item"><a href="#">Leather Vests</a></li>
    </ul>

    <ul class="list">
        <li class="title"><a href="#">STYLE</a></li>
        <li class="item item--top"><a href=" #">Bomber Leather Jackets</a></li>
        <li class="item"><a href="#">Motorcycle Leather Jackets</a></li>
        <li class="item"><a href="#">Outdoor Leather Jackets</a></li>
        <li class="item"><a href="#">Puffer Leather Jackets</a></li>
        <li class="item"><a href="#">Vintage Leather Jacket</a></li>

    </ul>

    <ul class="list">
        <li class="title"><a href="#">COLOR</a></li>
        <li class="item item--top"><a href="#">Brown Leather Jackets</a></li>
        <li class="item"><a href="#">Black Leather Jackets</a></li>

    </ul>

    <ul class="list">
        <li class="title"><a href="#">Material</a></li>
        <li class="item item--top"><a href=" #">Cow Leather Jackets</a></li>
        <li class="item"><a href="#">Lambskin Leather Jackets</a></li>
        <li class="item"><a href="#">Sheepskin Leather Jackets</a></li>

    </ul>

    <ul class="list">
        <li class="title"><a href="#">Accessories</a></li>
        <li class="item item--top"><a href="#">Leather Care</a></li>
        <li class="item"><a href="#">Gift Cards</a></li>
    </ul>

    <ul class="list">
        <a href="#">
            <img class="image" src="assets/img/BJ_Menu_Leather_Jackets_Featured_1_500x.webp" alt="image">
        </a>
    </ul>
</div>

<div class="dropdownn-section" [ngClass]="{'dropdown--active': activeMenu == 1 }">
    <ul class="list">
        <li class="title"><a href="#"> shop all</a></li>
        <li class="item item--top item--new"> <a href="#"> new</a></li>
        <li class="item"> <a href="#"> Best Sellers</a></li>
        <li class="item"> <a href="#"> bundles</a></li>
        <li class="item"> <a href="#"> SALE</a></li>
        <li class="item"> <a href="#"> Gifts Under $50</a></li>
        <li class="item"> <a href="#"> Gifts $50-10$</a></li>
        <li class="item"> <a href="#"> Gifts $100-$200</a></li>
        <li class="item"> <a href="#"> Gifts $200+</a></li>
    </ul>
    <ul class="list">
        <li class="title"><a href="#"> leather bags</a></li>
        <li class="item item--top"> <a href="#"> leather briefcases</a></li>
        <li class="item"> <a href="#"> Leather Messenger Bags</a></li>
        <li class="item"> <a href="#"> Leather Duffle Bags</a></li>
        <li class="item"> <a href="#"> Leather Travel Bags</a></li>
        <li class="item"> <a href="#"> Leather Backpacks</a></li>
        <li class="item"> <a href="#"> Leather Totes</a></li>
        <li class="item"> <a href="#"> Leather Camera Bags</a></li>

    </ul>
    <ul class="list">
        <li class="title"><a href="">leather</a></li>
        <li class="item item--top"> <a href="#"> leather jackets</a></li>
        <li class="item"><a href="#">Wallets</a></li>
        <li class="item"><a href="#">Rifle & Shotgun Cases</a></li>
        <li class="item"><a href="#">Padfolios & Journal Covers</a></li>
        <li class="item"><a href="#">Dopp Kits & Toiletry Kits</a></li>
        <li class="item"><a href="#">Tech & Organization</a></li>
        <li class="item"><a href="#">Accessories</a></li>
        <li class="item"><a href="#">Full Grain Leather</a></li>

    </ul>
    <ul class="list">
        <li class="title"><a href=""> Accessories</a></li>
        <li class="item item--top"> <a href="#"> gift cards</a></li>
        <li class="item"><a href="#">Leather Care</a></li>
        <li class="item"><a href="#">Other</a></li>

    </ul>
    <ul class="list">
        <li class="title"><a href="">mens collections</a></li>
        <li class="item item--top"> <a href="#"> roosevelt</a></li>
        <li class="item"><a href="#">Jefferson</a></li>
        <li class="item"><a href="#">Sportsman</a></li>
        <li class="item"><a href="#">Denver</a></li>
        <li class="item"><a href="#">Ryder - Bison</a></li>
        <li class="item"><a href="#">Walker</a></li>
        <li class="item"><a href="#">Dakota</a></li>
    </ul>
    <ul class="list">
        <li class="title"><a href="">women collections</a></li>
        <li class="item item--top"> <a href="#"> madision</a></li>
        <li class="item"><a href="#">Walker</a></li>
        <li class="item"><a href="#">Chelsea</a></li>


    </ul>
</div>

<div class="dropdownn-section" [ngClass]="{'dropdown--active': activeMenu == 2 }">
    <ul class="list">
        <li class="title"><a href="#">Shop all</a></li>
        <li class="item item--new item--top"><a href="#">NEW</a></li>
        <li class="item -sale"><a href="#">Sale</a></li>
        <li class="item"><a href="#">New Leather Jackets</a></li>

    </ul>
    <ul class="list">
        <li class="title"><a href="#">men</a></li>
        <li class="item item--top"><a href="#">Outerwear</a></li>
        <li class="item"><a href="#">leather jackets</a></li>
        <li class="item"><a href="#">Shirt Jacs</a></li>
        <li class="item"><a href="#">Vests & Pullovers</a></li>
        <li class="item"><a href="#">Flannel</a></li>
        <li class="item"><a href="#">Shirts</a></li>
        <li class="item"><a href="#">Tees</a></li>
        <li class="item"><a href="#">Hats</a></li>
        <li class="item"><a href="#">Neckwear</a></li>
        <li class="item"><a href="#">Leather Belts</a></li>
    </ul>
    <div class="list"><a href="#">
            <img class="image" src="assets/img/BJ_Menu_Apparel_Featured_Leather_Jackets_1_500x.webp" alt="image">
        </a></div>
    <div class="list"><a href="#">
            <img class="image" src="assets/img/BJ_Menu_Apparel_Featured_Flannels_3_500x.webp" alt="image">
        </a></div>
    <div class="list"><a href="#">
            <img class="image"
                src="assets/img/BJ_Menu_Apparel_Featured_Flannels_f2346b84-0bf1-4642-8c2e-c933ec1767dd_500x.webp"
                alt="image">
        </a></div>
</div>

<div class="dropdownn-section" [ngClass]="{'dropdown--active': activeMenu == 3 }">
    <ul class="list">
        <li class="title"><a href="#">Explore</a></li>
        <li class="item item--top"><a href="#">journal</a></li>
        <li class="item"><a href="#">Insight</a></li>
        <li class="item"><a href="#">Video</a></li>

    </ul>
    <ul class="list">
        <li class="title"><a href="#">About</a></li>
        <li class="item item--top"><a href="">About us</a></li>
        <li class="item"><a href="#">Our story</a></li>

    </ul>
    <div class="list">
        <a href="https://www.youtube.com/watch?v=hzMSxRWWzaM">
            <img class="image" src="assets/img/10_Years_2x_ec86bb54-c7cf-4a57-b75b-4b02efaf3fbd_500x.webp" alt="">
        </a>
    </div>
    <div class="list">
        <a href="https://buffalojackson2.myshopify.com/blogs/video/handcrafted-leather-goods">
            <img class="image" src="assets/img/Leather_Craftsmanship_2x_dd4b5716-8337-44f4-96de-ecb13f0c888a_500x.webp"
                alt="">
        </a>
    </div>

</div>