<div class="container">
  <div class="overlay" (click)="hideCart()"></div>
  <div class="menu">
    <div class="header">
      <div class="exit" (click)="hideCart()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
          height="22px"
        >
          <path
            d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
          />
        </svg>
      </div>

      <div class="info">
        <svg
          class="Icon"
          width="12px"
          height="12px"
          viewBox="0 0 996 1024"
          version="1.1"
          style="width: 0.973em"
        >
          <g fill="currentColor">
            <path
              d="M797.206 385.424h-87.072v-84.672c0-117.764-94.865-213.17-211.982-213.17-117.050 0-211.982 95.447-211.982 213.17v84.672h-87.072v-84.672c0-166.102 133.923-300.752 299.053-300.752 165.203 0 299.053 134.616 299.053 300.752v84.672z M911.547 1021.942h-827.030c-50.518 0-89.776-44.14-83.947-94.464l58.713-509.755c4.839-42.822 40.929-75.117 83.852-75.117h709.689c42.925 0 79 32.223 83.948 75.028l58.677 509.91c5.715 50.291-33.444 94.399-83.901 94.399zM850.499 430.031h-704.933l-58.107 504.486h821.093l-58.054-504.486z"
            ></path>
          </g>
        </svg>
        CART ({{ cartItems.size }})
      </div>
    </div>

    <div class="content">
      <!-- display if cart is empty -->
      <div class="cart-empty__container" *ngIf="cartItems.size <= 0">
        <p class="cart-empty__ms">Your Cart is Empty</p>
        <div class="cart-empty__btn" (click)="hideCart()">
          Continue Shopping
        </div>
      </div>

      <!-- display if cart has items -->
      <div class="cart-items__container" *ngIf="cartItems.size > 0">
        <ul class="cart-items__list">
          <li class="item" *ngFor="let item of menuItems; let i = index">
            <div
              class="item-pic"
              style="background-image: url({{ item.picture }});"
            ></div>

            <div class="item-details">
              <div class="item-name">{{ item.name }}</div>

              <ul class="item-size-box">
                <div *ngFor="let size of item.sizes; let i = index">
                  <input
                    type="radio"
                    id="{{ item.ID }}-size{{ size }}"
                    name="{{ item.ID }}"
                    class="item-size-option"
                  />
                  <label for="{{ item.ID }}-size{{ size }}">{{ size }}</label>
                </div>
              </ul>

              <div class="item-quantity-box">
                <div
                  class="item-quantity-btn quantity-btn--minus"
                  (click)="subtractQuantity(item.ID)"
                >
                  -
                </div>

                <span class="item-quantity-display">{{ item.quantity }}</span>

                <div
                  class="item-quantity-btn quantity-btn--plus"
                  (click)="addQuantity(item.ID)"
                >
                  +
                </div>
              </div>
            </div>

            <div class="item-price">${{ item.cost }}</div>
            <div class="item-remove" (click)="removeItem(item.ID)">X</div>
          </li>
        </ul>

        <div class="total">
          <span>subtotal</span>
          <span class="total-price">{{ totalCost }}</span>
        </div>

        <div class="cart-checkout__btn">check out</div>
      </div>
    </div>
  </div>
</div>
