@use "/src/app/utilities.scss" as var;

.container {
  display: flex;
  max-width: 90%;
  margin: 50px auto;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100%;
}

.highlights {
  width: calc((100% / 3) - 25px);
}

.highlights a {
  display: inline-block;
  width: 100%;
}

.display-container {
  width: calc(((100% / 3) * 2) - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-family: var.$title-font;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 4rem;
  text-align: center;
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid var.$border-color;
  font-weight: 500;
}

.description {
  padding: 10px 0px;
  font-family: var.$text-font;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  line-height: 1.6rem;
  margin-bottom: 15px;
}
.items-list {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.item {
  display: flex;
  width: calc((100% / 3) - (50px / 3));
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #f2ebde;
  justify-content: space-between;
}

.item__pic {
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.item__name {
  font-family: var.$text-font;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding: 10px 0px;
  width: 85%;
  line-height: normal;
  transition: all 0.2s linear;
}

.item__name:hover {
  color: var.$orange;
}

.item__prices {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 10px;
}

.price--current + .price--old {
  margin-left: 10px;
}

.price--old {
  text-decoration: line-through;
  opacity: 0.5;
}

.item__cart-btn {
  padding: 10px 40px;
  border: 1px solid var.$border-color;
  font-family: var.$default-font;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: var.$white2;
  color: black;
  line-height: normal;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.2s linear;
  min-width: calc(100% / 12 * 10);
  text-align: center;
}

.item__cart-btn:hover {
  background-color: black;
  color: white;
}

.btn {
  padding: 14px 40px 13px;
  background: var.$orange;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
