<div class="container">
    <div class="nav nav--left">
        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z">
            </path>
        </svg>
    </div>

    <div class="pages">

        <div data-sliderID="0" class="page page--active">
            <div class="cover" style="background-image: url(assets/img/slider-1.webp)">
                <div class="overlay"></div>

                <div class="content">
                    <h1 class="title title--main">GIFTS WITH GRIT</h1>
                    <h2 class="title title--sub">This holiday season, give a gift that’s
                        made to
                        last and built to roam.™</h2>
                    <div class="links">
                        <div class="btn">
                            <a src="#">BEST SELLERS</a>
                        </div>
                        <div class="btn">
                            <a src="#">GIFTS UNDER 100$</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div data-sliderID="1" class="page">
            <div class="cover" style="background-image: url(assets/img/slider-2.webp)">
                <div class="overlay"></div>

                <div class="content">
                    <h1 class="title title--main">TOUGH AS NAILS</h1>
                    <h2 class="title title--sub">These leather jackets can handle whatever
                        you
                        throw at them. (And look good doing it.)</h2>
                    <div class="links">
                        <div class="btn">
                            <a src="#">OUTDOOR LEATHER JACKETS</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div data-sliderID="2" class="page">
            <div class="cover" style="background-image: url(assets/img/slider-3.webp)">
                <div class="overlay"></div>
                <div class="content">
                    <h1 class="title title--main">BUILT TO ROAM™</h1>
                    <h2 class="title title--sub">Discover timeless quality and
                        character…etched
                        into each and every leather bag and jacket that bares our name.</h2>
                    <div class="links">
                        <div class="btn">
                            <a src="#">LEATHER BAGS</a>
                        </div>
                        <div class="btn">
                            <a src="#">LEATHER JACKETS</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div data-sliderID="3" class="page">
            <div class="cover" style="background-image: url(assets/img/slider-4.webp)">
                <div class="overlay"></div>

                <div class="content">
                    <h1 class="title title--main">WEAR YOUR WILD</h1>
                    <h2 class="title title--sub">Well-worn basecamp layers and outerwear for
                        all
                        season long.</h2>
                    <div class="links">
                        <div class="btn">
                            <a src="#">OUTDOOR APPAREL</a>
                        </div>
                        <div class="btn">
                            <a src="#">OUTERWEAR</a>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="transition-container">
            <div *ngIf="blur" class=transition></div>
        </div>


    </div>

    <div class="nav nav--right">
        <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z">
            </path>
        </svg>
    </div>
</div>