<div class="container">
    <ul class="list">
        <li class="catalouge catalouge-DUFFLES">
            <div class="picture"></div>
            <div class="name">DUFFLES</div>
        </li>
        <li class="catalouge catalouge-MESSENGERS">
            <div class="picture"></div>
            <div class="name">MESSENGERS</div>
        </li>
        <li class="catalouge catalouge-BRIEFCASES">
            <div class="picture"></div>
            <div class="name">BRIEFCASES</div>
        </li>
        <li class="catalouge catalouge-BACKPACKS">
            <div class="picture"></div>
            <div class="name">BACKPACKS</div>
        </li>
        <li class="catalouge catalouge-WALLETS">
            <div class="picture"></div>
            <div class="name">WALLETS</div>
        </li>
        <li class="catalouge catalouge-JACKETS">
            <div class="picture"></div>
            <div class="name">LEATHER JACKETS</div>
        </li>
    </ul>
</div>