$default-font: "Barlow Condensed", sans-serif;
$title-font: "SS Nickson One", sans-serif;
$text-font: "Libre Baskerville", serif;
$tinted-yellow: #d9ccb5;
$dark: #171007;
$orange: #a06d33;
$light-brown: #a59580;
$white: #fefaf0;
$white2: #fefbf0;
$default-background: #171007;
$border-color: rgba(0, 0, 0, 0.2);
