<div class="container">
    <a href="#" class="link">
        <div class="collection collection--new">
            <div class="contents">
                <h2 class="text--sub">Eye-Catching</h2>
                <h1 class="text--main">NEW ARRIVALS</h1>
                <div class="btn"> <span> SHOP NOW</span></div>
            </div>

        </div>
    </a>

    <a href="#" class="link">
        <div class="collection collection--best">
            <div class="contents">
                <h2 class="text--sub">Top-Rated</h2>
                <h1 class="text--main">BEST SELLERS</h1>
                <div class="btn"><span> SHOP NOW</span></div>
            </div>

        </div>
    </a>

    <a href="#" class="link">
        <div class="collection collection--fall">
            <div class="contents">
                <h2 class="text--sub">Rugged & Ready</h2>
                <h1 class="text--main">FALL APPAREL</h1>
                <div class="btn"><span> SHOP NOW</span></div>
            </div>

        </div>
    </a>
</div>