<div class="container">
    <a href="#" class="link">
        <div class="collection" style="background-image: URL({{pictureURL[0]}})">
            <div class="contents">
                <h2 class="text--sub">{{titleSub[0]}}</h2>
                <h1 class="text--main">{{titleMain[0]}}</h1>
                <div class="btn"> <span> SHOP NOW</span></div>
            </div>

        </div>
    </a>

    <a href="#" class="link">
        <div class="collection" style="background-image: URL({{pictureURL[1]}})">
            <div class="contents">
                <h2 class="text--sub">{{titleSub[1]}}</h2>
                <h1 class="text--main">{{titleMain[1]}}</h1>
                <div class="btn"><span> SHOP NOW</span></div>
            </div>

        </div>
    </a>

    <a href="#" class="link">
        <div class="collection" style="background-image: URL({{pictureURL[2]}})">
            <div class="contents">
                <h2 class="text--sub">{{titleSub[2]}} Ready</h2>
                <h1 class="text--main">{{titleMain[2]}}</h1>
                <div class="btn"><span> SHOP NOW</span></div>
            </div>

        </div>
    </a>
</div>