html {
  box-sizing: border-box;
  font-size: 100%;
  height: 5000px;
  font-family: "Barlow Condensed", sans-serif;
}

*::selection {
  background: #fff7b6;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

input[type=radio]:checked {
  visibility: hidden;
}

@font-face {
  font-family: "SS Nickson One";
  src: url(/src/assets/fonts/S&S\ Nickson\ One.otf);
}
.header {
  position: relative;
  height: fit-content;
  width: 100%;
  z-index: 10;
}

.header__container {
  position: relative;
  background-image: url("/src/assets/img/nav-bg.webp");
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.header__side {
  min-width: 33%;
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  height: fit-content;
}

.header__top {
  display: flex;
  color: #d9ccb5;
  height: 40%;
  border-bottom: 1px solid #453929;
}
.header__top :hover {
  animation: hoverColor 0.2s linear forwards;
}

.header__top.reversed {
  flex-direction: row-reverse;
}

.header__bottom {
  display: flex;
  height: auto;
  align-items: center;
  color: #d9ccb5;
}

.header__bottom.reversed {
  flex-direction: row-reverse;
}

.header__dropdown {
  padding: 1.75rem 1.6rem 2rem 0rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.125rem;
}

.header__dropdown:hover {
  animation: hoverFade 0.2s linear forwards;
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  line-height: 1.5rem;
  font-size: 0.95rem;
  width: fit-content;
  font-weight: 500;
  letter-spacing: 1px;
}

.header__item svg {
  margin-right: 6px;
  color: inherit;
}

.header__search {
  display: flex;
  align-self: flex-end;
  align-items: center;
  color: #d9ccb5;
  padding: 16px 0px;
  cursor: pointer;
}
.header__search :focus-visible {
  outline: none;
}

.search__input {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  opacity: 0;
  color: #d9ccb5;
  width: 270px;
  height: 44px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #453929;
  transition: opacity 0.2s linear;
  pointer-events: none;
}

.search__input.search--active {
  opacity: 1;
  pointer-events: all;
}

.search__toggle {
  transition: opacity 0.2s linear;
  opacity: 1;
}

.search__toggle:hover {
  opacity: 0.5;
}

.search__toggle.search--active {
  opacity: 0;
  cursor: default;
}

.header__center {
  max-width: 33%;
}

.header__center--logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__center--logo-img {
  width: 230px;
  margin: auto;
  object-fit: contain;
}

.header-fixed__container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-image: url("/src/assets/img/nav-bg.webp");
  height: 85px;
  color: #d9ccb5;
  top: -85px;
}

.header-fixed--active {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 0px;
}

.header-fixed--left {
  min-width: 33.3333333333%;
  margin-left: 40px;
  display: flex;
}

.header-fixed--center {
  width: 33.3333333333%;
}

.header-fixed--center .header__center--logo-img {
  width: 150px;
  margin: auto;
  object-fit: contain;
}

.header-fixed--right {
  min-width: 33.3333333333%;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.dropdown__container {
  position: absolute;
  width: 100%;
}

.dropdown__container.dropdown-fixed {
  top: 85px;
  position: fixed;
}

.dropdown__menu {
  display: none;
  background-image: url("/src/assets/img/nav-bg.webp");
  align-content: stretch;
  height: fit-content;
  border-top: 1px solid #453929;
  justify-content: space-between;
  padding: 15px 25px;
}

.dropdown__menu.dropdown--active {
  display: flex;
}

.menu__section {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  flex-basis: 16.6666666667%;
  flex-grow: 1;
  color: #d9ccb5;
}

.menu__title {
  font-weight: 700;
  padding: 19px 0px 14px;
  line-height: 1.6rem;
  font-size: 1rem;
  letter-spacing: 0.8px;
  border-bottom: 1px solid #453929;
  text-transform: uppercase;
}
.menu__title :hover {
  animation: hoverFade 0.2s linear forwards;
}

.menu__item {
  font-weight: 500;
  padding: 6px 0px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #a59580;
  text-transform: capitalize;
}
.menu__item :hover {
  animation: hoverDropdown 0.2s linear forwards;
}

.menu__item--top {
  padding-top: 12px;
}

.menu__item--new {
  color: #a06d33;
  text-transform: uppercase;
}
.menu__item--new :hover {
  animation: none;
}

.menu__image {
  width: 100%;
  padding: 21px 0 0;
  margin-bottom: 10px;
}

@keyframes hoverFade {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 90%;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 70%;
  }
}
@keyframes hoverColor {
  100% {
    color: #171007;
    background-color: #d9ccb5;
  }
}
@keyframes hoverDropdown {
  100% {
    color: #d9ccb5;
  }
}
.cover-slider {
  position: relative;
  align-items: center;
  display: flex;
}

.slider__nav {
  z-index: 1;
  position: absolute;
  fill: #d9ccb5;
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slider__nav--left {
  left: 0px;
}

.slider__nav--right {
  right: 0px;
}

.slider__container {
  width: 100%;
}

.slider__page {
  display: none;
  width: 100%;
  height: 600px;
}

.slider__page--active {
  display: block;
}

.slider__cover {
  position: absolute;
  height: inherit;
  width: inherit;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.slider__overlay {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: black;
  opacity: 30%;
}

.slider__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.slider__title--main {
  font-size: 126px;
  color: #fefaf0;
  letter-spacing: 2px;
  text-align: center;
  margin: 50px 0px 0px;
  line-height: 0.8em;
  font-family: "SS Nickson One", sans-serif;
  font-weight: 500;
}

.slider__title--sub {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fefaf0;
  font-size: 24px;
  font-weight: 400;
}

.slider__links {
  margin-top: 35px;
  display: flex;
}
.slider__links :hover {
  opacity: 95%;
}

.slider__btn {
  padding-top: 14px;
  padding-left: 40px;
  padding-bottom: 13px;
  padding-right: 40px;
  border-radius: 2px;
  color: #fefaf0;
  background-color: #a06d33;
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 700;
  cursor: pointer;
}

.slider__btn + .slider__btn {
  margin-left: 40px;
}

.slider__transition {
  pointer-events: none;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  display: block;
  animation: page-transition-animation 1.5s linear forwards;
}

@keyframes page-transition-animation {
  0% {
    background-color: #d9ccb5;
    opacity: 100%;
  }
  100% {
    display: none;
    opacity: 0%;
  }
}
.banner__container {
  position: relative;
  width: 100%;
  margin: 25px 0px 0px;
  padding: 30px calc(8.3333333333% - 20px);
  min-height: 500px;
  background-color: rgb(68, 0, 0);
  color: #fefaf0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.banner-end {
  margin: 0px;
  min-height: 600px;
  padding: 0px 50px;
  background-color: black;
  background-image: url(https://player.vimeo.com/video/764240066?dnt=1&id=764240066&autopause=0&transparent=0&autoplay=1&loop=1&muted=1&badge=0&byline=0&portrait=0&title=0&background=1);
}

.banner-end .banner__contents {
  right: 25px;
  width: 58.3333333333%;
}

.banner-end .banner__title {
  font-size: 5.3rem;
  letter-spacing: 2px;
}

.banner-end .banner__details {
  max-width: 95%;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 2rem;
  padding-bottom: 20px;
}

.banner-1 {
  background-image: url(https://i.shgcdn.com/e483c48e-fa5b-480b-8854-cc7d4ee97a5e/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
}

.banner-2 {
  background-image: url(https://i.shgcdn.com/9e02186b-e9d4-4fb4-ae2e-506c8a2c8ab3/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
  margin-top: 0px;
}

.banner-3 {
  background-image: url(https://i.shgcdn.com/d68f05f2-f410-458b-8af8-ff8b55ec6f11/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
}

.banner__overlay {
  position: absolute;
  background-color: #171007;
  opacity: 0.5;
  display: inline-block;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.banner-end .banner__overlay {
  background-color: #1a1a1a;
}

.banner__video {
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.banner__contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__title {
  font-family: "SS Nickson One", sans-serif;
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 0.9em;
  margin: 0px;
  padding-top: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

.banner__details {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2.125rem;
  margin-top: 10px;
  padding-bottom: 30px;
  max-width: 77%;
}

.banner-event {
  width: 100%;
  color: #171007;
  margin: 0px;
  padding: 0px;
  min-height: fit-content;
  background-color: #fefaf0;
}

.banner-event .banner__border {
  width: 100%;
  margin: 50px 50px 0px;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 8.3333333333% 20px;
}

.banner-event .banner__title {
  padding: 0px;
  margin: 25px 0px 0px;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2em;
}

.banner-event .banner__details {
  font-family: "Libre Baskerville", serif;
  padding: 10px 0px 25px;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0px 20%;
}

.banner__btn {
  padding: 14px 40px 13px;
  background: #a06d33;
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.banner__btn:hover {
  opacity: 0.9;
}

.categories__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  background-color: #171007;
  color: #fefaf0;
}

.categories__list {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.category {
  height: auto;
  width: auto;
}
.category :hover {
  color: #a06d33;
}

.category__pic {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.category-DUFFLES .category__pic {
  background-image: url(/src/assets/img/catergory-1.webp);
}

.category-DUFFLES .category__pic:hover {
  background-image: url(/src/assets/img/catergory-1-alt.webp);
}

.category-MESSENGERS .category__pic {
  background-image: url(/src/assets/img/catergory-2.webp);
}

.category-MESSENGERS .category__pic:hover {
  background-image: url(/src/assets/img/catergory-2-alt.webp);
}

.category-BRIEFCASES .category__pic {
  background-image: url(/src/assets/img/catergory-3.webp);
}

.category-BRIEFCASES .category__pic:hover {
  background-image: url(/src/assets/img/catergory-3-alt.webp);
}

.category-BACKPACKS .category__pic {
  background-image: url(/src/assets/img/catergory-4.webp);
}

.category-BACKPACKS .category__pic:hover {
  background-image: url(/src/assets/img/catergory-4-alt.webp);
}

.category-WALLETS .category__pic {
  background-image: url(/src/assets/img/catergory-5.webp);
}

.category-WALLETS .category__pic:hover {
  background-image: url(/src/assets/img/catergory-5-alt.webp);
}

.category-JACKETS .category__pic {
  background-image: url(/src/assets/img/catergory-6.webp);
}

.category-JACKETS .category__pic:hover {
  background-image: url(/src/assets/img/catergory-6-alt.webp);
}

.category__name {
  padding: 10px 0px;
  margin-top: 20px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.2s;
}

.collections__container {
  max-width: 100%;
  height: auto;
  display: flex;
  padding: 0px 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  background-color: #171007;
  color: #fefaf0;
}

.collection-link {
  width: calc(33.3333333333% - 16.6666666667px);
  height: 500px;
}

.collection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.collection__contents {
  margin-bottom: 50px;
}

.collection__text--sub {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.15rem;
  margin-top: 10px;
  text-transform: capitalize;
}

.collection__text--main {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.85rem;
  font-family: "SS Nickson One", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 400;
}

.collection__btn {
  font-size: 1.25rem;
  line-height: 1.6rem;
  width: fit-content;
  height: fit-content;
  padding: 10px 40px;
  border: rgba(255, 255, 255, 0.2) 0.5px solid;
  text-align: center;
  font-weight: 700;
  margin: 0px auto;
  transition: background 0.1s linear;
}

.collection__btn:hover {
  color: black;
  background: white;
}

.collection--new {
  background-image: url(/src/assets/img/collection-new.webp);
}

.collection--best {
  background-image: url(/src/assets/img/collection-best.webp);
}

.collection--fall {
  background-image: url(/src/assets/img/collection-fall.webp);
}

.collection--wallets {
  background-image: url(https://i.shgcdn.com/e0024149-4c9e-4a53-bb2c-25b059161699/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
}

.collection--woman {
  background-image: url(https://i.shgcdn.com/9b823158-27dc-479f-89ab-e94b33af00c5/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
}

.collection--sale {
  background-image: url(https://i.shgcdn.com/da3c9c93-0520-4b34-bada-1d1a52433ea7/-/format/auto/-/preview/3000x3000/-/quality/lighter/);
}

.item-slider__wrapper {
  position: relative;
  margin: 40px 30px 20px;
  overflow: hidden;
}

.items-slider__title {
  font-family: "SS Nickson One", sans-serif;
  color: #171007;
  font-size: 1.85rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px 0px 20px;
  padding-top: 20px;
  line-height: 3rem;
}

.items-slider__container {
  width: fit-content;
  margin: 20px 0px;
  display: flex;
  transition: transform 0.2s cubic-bezier(0.12, 0, 0.39, 0);
}

.items-slider__item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.items-slider__cart-btn {
  position: absolute;
  padding: 4px;
  background-color: #a06d33;
  height: max-content;
  color: #fefaf0;
  border: none;
  opacity: 0;
  transition: all 0.2s linear;
  transform: translateY(40px);
  cursor: pointer;
}

.items-slider__item:hover .items-slider__cart-btn {
  transform: translateY(0px);
  opacity: 1;
}

.items-slider__cart-btn span {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 2rem;
  display: inline-block;
  border: 1px solid white;
  padding: 4px 60px;
  pointer-events: none;
}

.items-slider__link {
  display: inline-block;
  padding: 15px;
  width: 275px;
  height: 440px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.items-slider__pic {
  margin-top: 15px;
  width: 100%;
  height: 243px;
  background-position: center;
  background-size: contain;
}

.items-slider__name {
  margin-top: 24px;
  font-family: "SS Nickson One", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  max-height: 50px;
  overflow: hidden;
}

.items-slider__price {
  margin-top: 0.8rem;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  line-height: normal;
}

.items-slider__ratings {
  margin-top: 4px;
  display: flex;
}

.items-slider__star {
  width: 1rem;
  height: 1rem;
  margin-left: 1px;
  background-size: cover;
  background-repeat: no-repeat;
}

.star--full {
  background-image: url(/src/assets/img/star.svg);
}

.star--half {
  background-image: url(/src/assets/img/star-half.svg);
}

.items-slider__nav {
  position: absolute;
  width: 40px;
  height: 80px;
  border-radius: 0px 2px 2px 0px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 0px 0px 6px;
  fill: grey;
  padding: 0px 5px;
  margin: auto;
  top: 0px;
  bottom: 36px;
  cursor: pointer;
  z-index: 2;
}

.slider-nav--right {
  right: 0px;
}

.slider-nav--left {
  left: 0px;
  rotate: 180deg;
}

.slider-nav--inactive {
  animation: fadeOut 0.2s forwards linear;
}

.slider-nav--active {
  animation: fadeIn 0.2s forwards linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.showcase-section__container {
  display: flex;
  max-width: 90%;
  margin: 50px auto;
  justify-content: space-between;
}

.showcase-section__container img {
  width: 100%;
  height: 100%;
}

.showcase-hl__container {
  width: calc(33.3333333333% - 25px);
}

.showcase-hl__pic {
  display: inline-block;
  width: 100%;
}

.showcase-coll__container {
  width: calc(66.6666666667% - 25px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-coll__title {
  font-family: "SS Nickson One", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 4rem;
  text-align: center;
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.showcase-coll__description {
  padding: 10px 0px;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  line-height: 1.6rem;
  margin-bottom: 15px;
}

.showcase-coll__items-list {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.showcase-coll__item {
  display: flex;
  width: calc(33.3333333333% - 16.6666666667px);
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #f2ebde;
  justify-content: space-between;
}

.showcase-item__pic {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.showcase-item__name {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding: 10px 0px;
  width: 85%;
  line-height: normal;
  transition: all 0.2s linear;
}

.showcase-item__name:hover {
  color: #a06d33;
}

.showcase-item__prices {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 10px;
}

.price--current + .price--old {
  margin-left: 10px;
}

.price--old {
  text-decoration: line-through;
  opacity: 0.5;
}

.showcase-item__cart-btn {
  padding: 10px 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: #fefbf0;
  color: black;
  line-height: normal;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.2s linear;
  min-width: 83.3333333333%;
  text-align: center;
}

.showcase-item__cart-btn:hover {
  background-color: black;
  color: white;
}

.statistic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(160, 109, 51, 0.2);
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 33.3333333333%;
}

div.stat + div.stat {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.stat__icon {
  max-width: 42px;
  max-height: 42px;
}

.stat__text {
  font-family: "SS Nickson One", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  margin: 10px auto;
}

.cart__container {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
}

.cart--active.cart__container {
  display: block;
}

.cart--active > .cart__overlay {
  opacity: 1;
}

.cart--active > .cart__menu {
  right: 0px;
}

.cart__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.cart__menu {
  position: absolute;
  right: -400px;
  top: 0px;
  height: 100%;
  width: 400px;
  background-color: #fefbf0;
  transition: right 0.2s linear;
}

.cart__header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0px;
  margin: 0px 20px;
  justify-content: space-between;
}

.cart__exit {
  height: 22px;
  cursor: pointer;
  width: 50px;
}

.cart__info {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.cart__counter {
  content: "0";
}

.cart__content {
  padding: 32px 0px 0px;
  height: 90%;
}

.cart-empty__container {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-empty__container.cart--active {
  display: flex;
}

.cart-empty__ms {
  font-family: "SS Nickson One", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}

.cart-empty__btn {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #171007;
  color: #fefbf0;
  padding: 15px 115px;
  cursor: pointer;
}

.cart-items__container {
  padding-left: 20px;
  display: none;
  flex-direction: column;
}

.cart-items__container.cart--active {
  display: flex;
  height: 100%;
}

.cart-items__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: auto;
}

.cart__item {
  position: relative;
  display: flex;
  margin-bottom: 26px;
  margin-right: 20px;
}

.cart__item + .cart__item {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.cart__item-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 40px;
  justify-content: space-between;
}

.cart__item-pic {
  min-width: 90px;
  min-height: 90px;
  background-color: red;
  background-position: center;
  background-size: contain;
}

.cart__item-name {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  max-width: 100%;
}

.cart__item-size-box {
  display: flex;
  width: 66.6666666667%;
  justify-content: space-between;
}

.cart__item-size-option:checked,
.cart__item-size-option:not(:checked) {
  display: none;
}

.cart__item-size-option:checked + label,
.cart__item-size-option:not(:checked) + label {
  content: "";
  padding: 2px 6px 4px;
  color: #171007;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin-right: 6px;
}

.cart__item-size-option + label:hover {
  opacity: 0.5;
}

.cart__item-size-option:checked + label {
  background-color: #171007;
  color: #fefaf0;
  pointer-events: none;
}

.cart__item-remove {
  position: absolute;
  right: 0px;
  padding: 0px 8px;
  color: #171007;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s linear;
}

.cart__item-remove:hover {
  opacity: 0.5;
}

.cart__item-quantity-box {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
}

.cart__item-quantity-btn {
  height: 30px;
  width: 30px;
  background-color: #171007;
  color: #fefaf0;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}

.cart__item-quantity-display {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 80px;
  text-align: center;
  line-height: 2rem;
  -moz-appearance: textfield;
}

.cart__item-quantity-display:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart__item-price {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.1rem;
  font-weight: 500;
}

.cart__total {
  border-top: 1px solid #171007;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-right: 20px;
}

.cart-checkout__btn {
  margin-right: 20px;
  font-size: 1.3rem;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #171007;
  color: #fefbf0;
  padding: 15px 115px;
  cursor: pointer;
}

.main-content {
  background-color: #fefaf0;
}

.double-section__container {
  background-color: #171007;
  color: #fefaf0;
}

.footer {
  background-image: url(https://cdn.shopify.com/s/files/1/0003/2725/4068/t/161/assets/footer-texture-196x.jpg?v=133104504405972167811659465805);
  color: #d9ccb5;
  padding-bottom: 40px;
}

.footer-socials__container {
  height: 60px;
  background-image: url(https://cdn.shopify.com/s/files/1/0003/2725/4068/t/161/assets/footer-social-texture-2x.jpg?v=89872037106337253761659465804);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SS Nickson One", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-socials__links {
  display: flex;
  fill: #d9ccb5;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
}

.footer-socials__link {
  padding-top: 5px;
  margin: 0px 10px;
  cursor: pointer;
}

.footer-socials__link:hover {
  fill: white;
}

.footer-socials__link svg {
  width: 22px;
  max-height: 22px;
}

.footer__container {
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  width: max-content;
  margin-top: 70px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.footer-email__container {
  margin: 0px 40px;
  max-width: 300px;
}

.footer-email__title {
  margin: 20px 0px;
  font-family: "SS Nickson One", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2.25rem;
  line-height: 2.25rem;
}

.footer-email__form {
  height: fit-content;
  display: flex;
  position: relative;
}

.footer-email__input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #453929;
  flex-grow: 1;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding: 0.5rem 1rem;
}

.footer-email__input:focus {
  outline: none;
}

.footer-email__input:focus + label[for=footer-email__input] {
  bottom: 40px;
  font-size: 0.8rem;
}

label[for=footer-email__input] {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 1.1rem;
  line-height: 1.3rem;
  transition: all 0.2s linear;
}

.footer-email__submit {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 15px;
  border: 1px solid #453929;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.2s linear;
}

.footer-email__submit:hover {
  background-color: #fefaf0;
  color: #453929;
}

.footer__list {
  border-left: 1px solid #453929;
  border-right: 1px solid #453929;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 40px;
}

.footer-list__title {
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  margin: 0px;
}

.footer__items {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer__item {
  margin: 18px 0px;
  transition: color 0.2s linear;
}

.footer__item:hover {
  color: white;
}

.footer-contacts__container {
  background-image: url(https://cdn.shopify.com/s/files/1/0003/2725/4068/t/161/assets/footer-page-bg.jpg?v=64631400759479925501659465803);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: 60px;
}

.footer-contacts__container h1 {
  font-family: "SS Nickson One", sans-serif;
  font-size: 2.35rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
}

.footer-contacts__container span {
  margin: 6px;
  box-sizing: border-box;
  line-height: 1.2rem;
}

.footer-contacts__container hr {
  width: 80%;
  margin: 20px auto;
  border-bottom: 1px solid #453929;
}

.footer-contacts__container br {
  margin: 15px auto;
}

.footer-copyrights {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
