<div class="container" #sliderContainer>

    <div class="title">{{slider_title}}</div>

    <div *ngIf="showNav" class="nav nav--left" [ngClass]="sliderEnd?'nav--active':'nav--inactive' " (click)=moveLeft()>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -10 44.5 62.03">
            <path
                d="M5 .6a2 2 0 0 0-3 0L1 1.8a2 2 0 0 0 0 2.8l14.6 14.7a2 2 0 0 1 0 2.8L.6 37a2 2 0 0 0 0 3L2 41.3a2 2 0 0 0 3 0l19-19a2 2 0 0 0 0-2.8z">
            </path>
        </svg>
    </div>

    <ul class="items-container" #itemsContainer>
        <li *ngFor="let item of itemsList; let i=index;">
            <app-slider-item [link]=itemsList[i].link [picture]=itemsList[i].picture [name]=itemsList[i].name
                [price_old]=itemsList[i].price_old [price_current]=itemsList[i].price_current [ID]=itemsList[i].ID
                [ratings]=itemsList[i].ratings></app-slider-item>
        </li>
    </ul>

    <div *ngIf="showNav" class="nav nav--right" [ngClass]="sliderEnd?'nav--inactive':'nav--active'" (click)=moveRight()>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -10 44.5 62.03">
            <path
                d="M5 .6a2 2 0 0 0-3 0L1 1.8a2 2 0 0 0 0 2.8l14.6 14.7a2 2 0 0 1 0 2.8L.6 37a2 2 0 0 0 0 3L2 41.3a2 2 0 0 0 3 0l19-19a2 2 0 0 0 0-2.8z">
            </path>
        </svg>
    </div>

</div>