@use "../ulti/varibles" as var;

html {
    box-sizing: border-box;
    font-size: 100%;
    height: 5000px;
    font-family: var.$default-font;
}

*::selection {
    background: #fff7b6;
    color: black;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

input[type="radio"]:checked {
    visibility: hidden;
}

@font-face {
    font-family: "SS Nickson One";
    src: url(/src/assets/fonts/S&S\ Nickson\ One.otf);
}

// * {
//     outline: orange 1px solid;
// }
