@use "../ulti/varibles" as var;

html {
    box-sizing: border-box;
    font-size: 100%;
    height: 3000px;
    font-family: var.$default-font;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}

// * {
//     outline: orange 1px solid;
// }
